#bod{
    background-color: white;

}

.tab-list {  border-bottom: 1px solid white;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color:white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

h1{
    color: white;
    background-color: black;
}


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: rgb(73, 30, 30);
    background-color: white;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }